//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

footer{
    text-align: center;
}

main{
    margin: 4rem 0;
}

table{
width: 100%;
text-align: left;
}

.container{
    width: 1000px;
    margin: auto;
}