* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

footer {
  text-align: center;
}

